@import "./style.scss";

.project {
    .title {
        h2 {
            font-size: 3.6rem;
        }
        h3 {
            font-size: 1.8rem;
            font-weight: 300;
        }
    }
    .text {
        h4 {
            font-weight: 400;
        }
        h5 {
            font-size: 1rem;
        }
        ul {
            list-style-type: upper-roman;
            li {

            }
        }
    }
}

.step-wrapper {
    width: 100%;
    height: auto;
    .step {
        padding: 8vh 12vw;
        .row {
            display: flex;
            justify-content: start;
            align-content: flex-start;
            .title-image-wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
                .title-image {
                    span {
                        padding: 0 1vw;
                    }
                    img {
                        max-width: 50vw;
                        max-height: 80vh;
                    }
                }
            }
            .title-wrapper {
                
            }
            .image-wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                img {
                    width: 63.5vw;
                    height: auto;
                }
                video {
                    width: 63.5vw;
                    height: auto;
                }
            }
        }
        .grid {
            padding: 0 16px; // to align with row padding
        }
        .grid-layout-intro {
            display: grid;
            grid-gap: 2vw;
            grid-template-areas:
                "overview . role";
            .overview-wrapper {
                grid-area: overview;
                .overview {
                    width: 45vw;
                }
            }
            .role-wrapper {
                grid-area: role;
                .role {
                    width: 25vw;
                }
            }
        }
        .grid-layout-3-illustration {
            display: grid;
            grid-gap: 2vw;
            grid-template-areas:
            "illustration-1 illustration-2 illustration-3"
            ". . .";
            .illustration-1 {
                grid-area: illustration-1;
            }
            .illustration-2 {
                grid-area: illustration-2;
            }
            .illustration-3 {
                grid-area: illustration-3;
            }
            .illustration {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    max-width: 20vw;
                }
            }
        }
        .grid-layout-2-illustration {
            display: grid;
            grid-gap: 2vw;
            grid-template-areas:
            "illustration-1 illustration-2"
            ". .";
            .illustration-1 {
                grid-area: illustration-1;
            }
            .illustration-2 {
                grid-area: illustration-2;
            }
            .illustration {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    max-width: 30vw;
                    max-height: 100vh;
                }
            }
        }
        .grid-layout-2-illustration {
            display: grid;
            grid-gap: 2vw;
            grid-template-areas:
            "illustration-1 illustration-2"
            ". .";
            .illustration-1 {
                grid-area: illustration-1;
            }
            .illustration-2 {
                grid-area: illustration-2;
            }
            .illustration {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    max-width: 30vw;
                    max-height: 100vh;
                }
            }
        }
        .grid-layout-1-illustration {
            display: grid;
            grid-gap: 2vw;
            grid-template-areas:
            "illustration-1"
            ".";
            .illustration-1 {
                grid-area: illustration-1;
            }
            .illustration {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    max-width: 60vw;
                    max-height: 100vh;
                }
            }
        }
        .btn-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            a {
                font-size: 1rem;
                letter-spacing: 1px;
                display: inline-block;
                padding: 0.75rem 3.6rem;
                color: $black;
                text-decoration: none;
                text-align: center;
                border: 1px solid $black;
                border-radius: 2rem;
                transition: all 0.5s ease;
            }
            a:hover {
                background-color: $black;
                color: $white;
            }
        }
    }
}

#helsinki-city-museum {
    .step-wrapper-0 {
        background: url('../assets/helsinkiCityMuseum/helsinki-city-museum.jpg') center no-repeat;
        background-color: rgba(0, 0, 0, .2);
        background-blend-mode: overlay;
        img {
            box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    .step-wrapper-1 {
        background-color: $white;
    }
    .step-wrapper-2 {
        background-image: linear-gradient(to top, #ace0f9 0%, #fff1eb 90%);
    }
    .step-wrapper-3 {
        background-color: $white;
    }
    .step-wrapper-4 {
        background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 90%);
    }
}

#motion-palette-a {
    .step-wrapper-0 {
        background: url('../assets/motionPaletteA/bisect.gif') center;
    }
    .step-wrapper-1 {
        background-color: $white;
    }
    .step-wrapper-2 {
        background-image: linear-gradient(120deg, #edd9ff 0%, #aae2fc 100%);
    }
    .step-wrapper-3 {
        background-color: $white;
    }
    .step-wrapper-4 {
        background-image: linear-gradient(120deg, #edd9ff 0%, #aae2fc 100%);
    }
    .step-wrapper-5 {
        background-color: $white;
    }
    .step-wrapper-6 {
        background-image: linear-gradient(120deg, #edd9ff 0%, #aae2fc 100%);
    }
}

#remote-atc {
    .step-wrapper-0 {
        // background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #addef5 100%);
        background-image: linear-gradient(-60deg, #8ac7f0 10%, #cef6fd 90%);
    }
    .step-wrapper-1 {
        background-color: $white;
    }
    .step-wrapper-2 {
        background-image: linear-gradient(-60deg, #8ac7f0 10%, #cef6fd 90%);
    }
    .step-wrapper-3 {
        background-color: $white;
    }
    .step-wrapper-4 {
        background-image: linear-gradient(-60deg, #8ac7f0 10%, #cef6fd 90%);
    }
    .step-wrapper-5 {
        background-color: $white;
    }
    .step-wrapper-6 {
        background-image: linear-gradient(-60deg, #8ac7f0 10%, #cef6fd 90%);
    }
    .step-wrapper-7 {
        background-color: $white;
    }
    .step-wrapper-8 {
        background-image: linear-gradient(-60deg, #8ac7f0 10%, #cef6fd 90%);
    }
}

#bus-rental {
    .step-wrapper-0 {
        background-image: linear-gradient(to top, #fff1eb 0%, #F4CAB1 100%);
    }
    .step-wrapper-1 {
        background-color: $white;
    }
    .step-wrapper-2 {
        background-color: #fff1eb;
        // background-image: linear-gradient(to top, #F4CAB1 0%, #fff1eb 40%);
    }
    .step-wrapper-3 {
        background-color: $white;
    }
    .step-wrapper-4 {
        // background-color: #fff1eb;
        background-image: linear-gradient(to top, #fff1eb 0%, #F4CAB1 50%, #fff1eb 100%);
    }
    .step-wrapper-5 {
        background-color: $white;
    }
    .step-wrapper-6 {
        background-color: #fff1eb;
        // background-image: linear-gradient(to top, #fff1eb 0%, #ffffff 100%);
    }
}

#crowfall-tools {
    .step-wrapper-0 {
        background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    }
    .step-wrapper-1 {
        background-color: $white;
    }
    .step-wrapper-2 {
        background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    }
    .step-wrapper-3 {
        background-color: $white;
    }
    .step-wrapper-4 {
        background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    }
}

#mcc-mobile {
    .step-wrapper-0 {
        // background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
        background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    }
    .step-wrapper-1 {
        background-color: $white;
    }
    .step-wrapper-2 {
        // background-color: #fff1eb;
        background-image: linear-gradient(to top, #ace0f9 0%, #fff1eb 90%);
    }
    .step-wrapper-3 {
        background-image: linear-gradient(to top, #fff1eb 10%, #ace0f9 100%);
    }
    .step-wrapper-4 {
        background-color: $white;
    }
    .step-wrapper-5 {
        background-image: linear-gradient(to top, #ace0f9 0%, #fff1eb 100%);
    }
}

#indie-brand-vi {
    .step-wrapper-0 {
        background: url('../assets/indieBrandVi/indie-brand-vi-big.png') center no-repeat;
        background-size: 100vw auto;
    }
    .step-wrapper-1 {
        background-color: $white;
    }
    .step-wrapper-2 {
        // background-color: #fff1eb;
        background-image: linear-gradient(to top, #F4CAB1 0%, #fff1eb 60%);
    }
    .step-wrapper-3 {
        background-color: $white;
    }
    .step-wrapper-4 {
        background: url('../assets/indieBrandVi/card-box.png') center no-repeat;
        background-size: 100vw auto;
    }
    .step-wrapper-5 {
        background: url('../assets/indieBrandVi/box.png') center no-repeat;
        background-size: 100vw auto;
    }
    .step-wrapper-6 {
        background: url('../assets/indieBrandVi/paper-box.png') center no-repeat;
        background-size: 100vw auto;
    }
}

#product-campaign {
    .step-wrapper-0 {
        background: url('../assets/productCampaign/dt-p.png') center no-repeat;
        background-size: 100vw auto;
    }
    .step-wrapper-1 {
        background-color: $white;
    }
    .step-wrapper-2 {
        background: url('../assets/productCampaign/dt-w.png') center no-repeat;
        background-size: 100vw auto;
    }
    .step-wrapper-3 {
        background: url('../assets/productCampaign/dt-b.png') center no-repeat;
        background-size: 100vw auto;
    }
    .step-wrapper-4 {
        background: url('../assets/productCampaign/dt-k.png') center no-repeat;
        background-size: 100vw auto;
    }
    .step-wrapper-5 {
        background-color: $white;
    }
}

#shadow-puppet {
    .step-wrapper-0 {
        background-image: linear-gradient(to top, #fff1eb 0%, #F4CAB1 100%);
        img {
            box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    .step-wrapper-1 {
        background-color: $white;
    }
    .step-wrapper-2 {
        background-image: linear-gradient(to top, #F4CAB1 0%, #fff1eb 100%);
    }
    .step-wrapper-3 {
        background-image: linear-gradient(to top, #fff1eb 0%, #F4CAB1 100%);
    }
    .step-wrapper-4 {
        background-image: linear-gradient(to top, #F4CAB1 0%, #fff1eb 100%);
    }
    .step-wrapper-5 {
        background-color: $white;
    }
}

#motion-palette-b {
    .step-wrapper-0 {
        background: url('../assets/motionPaletteA/bisect.gif') center;
    }
    .step-wrapper-1 {
        background-color: $white;
    }
    .step-wrapper-2 {
        background-image: linear-gradient(120deg, #edd9ff 0%, #aae2fc 100%);
    }
    .step-wrapper-3 {
        background-color: $white;
    }
    .step-wrapper-4 {
        background-image: linear-gradient(120deg, #edd9ff 0%, #aae2fc 100%);
    }
    .step-wrapper-5 {
        background-color: $white;
    }
    .step-wrapper-6 {
        background-image: linear-gradient(120deg, #edd9ff 0%, #aae2fc 100%);
    }
}